page-login {


}
form{
    margin-top: 3em;
}
ion-content.background{
    background-image:url(../../assets/img/bosque.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

ion-list{
    text-align:center;
}

h1{
    color:#08a311;
    font-size:4em;
    text-shadow: 2px 2px 4px #000000;
}

ion-item.item{
    margin: 1em;
    width: 92%;
    border-radius: 10px;
}