page-settings {
    .titulo{
        font-size:2.4em;
        color:#08a311;
        


    }
    ion-card-title{
        font-size:2.4em;
        color:#09ad40 !important;
        text-align: left;

    }
    .texto{
        font-size:1.4em;
        color:gray;
        text-align: left;

    }
    

}
