page-questions {
    .toolbar-background {
      background: transparent;
      border-color: transparent;
    }
  
    .slide-zoom {
      height: 100%;
    }
    
    .opciones  li{
      text-align: right;
      display: inline ;
      text-decoration: none !important;
    }
  
    .slide-title {
      margin-top: 0em;
      margin-bottom: .5em;
      color: #08a311 !important;
      font-size: 1.8em;
    }
   
    
  
    .slide-image {
      max-height: 40%;
      max-width: 60%;
      margin: 36px 0;
    }
    .slide-image-food {
      max-height: 40%;
      max-width: 60%;
      margin: 15px 0;
    }
  
  
    b {
      font-weight: 500;
    }
  
    p {
      padding: 0 40px;
      font-size: 1.4em;
      line-height: 1.5;
      color: #60646B;
  
      b {
        color: #000000;
      }


     
    }
  
   
  }


  .title-label{
    font-size: 1em!important;
    color:#3f4040;
  }
  

  ion-select{
    max-width:100%!important;
    width:100%;
    padding: 10px!important;
  }

 .slide-food{
   margin:0px!important;
 }

.item-food{
  margin:0px!important;
}